.example-container {
  width: 100%;
}

.example-sidenav-content {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.floating-button {
  width: 100px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 2000;
}

.menu-button {
  width: 50px;
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 0;
}