<md-sidenav-container fullscreen class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Works<br>
    Workers<br>
    Users
  </md-sidenav>
</md-sidenav-container>

<button class="menu-button" *ngIf="!sidenav.opened" (click)="sidenav.toggle()">
  <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>  
</button>
<router-outlet></router-outlet>
