<modal #myModal>
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-wrap">

            <h1>Product</h1>
            <form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="productForm" id="product-form"
                  autocomplete="off">
              <div class="form-group">
                <label>Title</label><input formControlName="title"/>
                <div *ngIf="titleCtrl.dirty && titleCtrl.hasError('required')">Title is required</div>
                <div *ngIf="titleCtrl.dirty && titleCtrl.hasError('minlength')">Title should be 5 characters min</div>
              </div>
              <div class="form-group">
                <label>Price</label><input type="number" formControlName="price"/>
                <div *ngIf="priceCtrl.dirty && priceCtrl.hasError('required')">Title is required</div>
              </div>
              <div class="form-group">
                <label>Description</label><textarea formControlName="description"></textarea>
              </div>
              <button class="btn btn-custom btn-lg btn-block" id="btn-login" type="submit"
                      [disabled]="!productForm.valid">Add Product
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</modal>
