<modal #myModal>
  <section id="login">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                  <h1>Work</h1>
                  <form role="form" novalidate (ngSubmit)="onSubmit(workForm)" [formGroup]="workForm" id="login-form" autocomplete="off">
                    <div class="form-group">
                      <textarea rows="4" cols="50" type="text" class="form-control" placeholder="Title" formControlName="title">
                      </textarea>
                      <div class="error" *ngIf="workForm.get('title').hasError('required') && workForm.get('title').touched">
                        Title is required
                      </div>
                      <div class="error" *ngIf="workForm.get('title').hasError('minlength') && workForm.get('title').touched">
                        Minimum of 2 characters
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Description" formControlName="description">
                      <div
                        class="error"
                        *ngIf="workForm.get('description').hasError('required') && workForm.get('description').touched">
                        Description is required
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" placeholder="State" formControlName="state">
                      <div
                        class="error"
                        *ngIf="workForm.get('state').hasError('required') && workForm.get('state').touched">
                        State is required
                      </div>
                    </div>                          
                    <input type="submit" id="btn-login" [disabled]="workForm.invalid" class="btn btn-custom btn-lg btn-block" value="Save">
                </form>
              </div>
          </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
  </section>
</modal>