<button class="floating-button" (click)="create()">Add product</button>
            <product-add (formSubmitted)="save($event)"></product-add>
<products-list (updateProduct)="update($event)" [products]="products"></products-list>
