<div class="row">
  <div class="col-md-9 cta-contents">
    <h1 class="cta-title">@{{ categoryModel.name }}</h1>
    <div class="cta-desc">
      <p>{{ categoryModel.description}}</p>
    </div>
  </div>
  <div class="col-md-3 cta-button">
    <a class="btn btn-lg btn-block btn-primary" (click)="update.emit(categoryModel)" >Update</a>
  </div>
</div>
