<div class="container">
  <div class="col-sm-12">
    <div *ngFor="let category of categories;" class="bs-calltoaction bs-calltoaction-primary">
      <category-list (update)="updateCategory.emit($event)" [categoryModel]="category"> </category-list>
    </div>
  </div>
</div>
