<div class="container">
  <div class="col-sm-12">
    <div *ngFor="let product of products;" class="bs-calltoaction bs-calltoaction-primary">
      <product-list (update)="updateProduct.emit($event)" [productModel]="product"> </product-list>
    </div>
  </div>
</div>
