<div class="row">
  <div class="col-md-9 cta-contents">
    <h1 class="cta-title">@{{ productModel.title }}</h1>
    <div class="cta-desc">
      <p>{{ productModel.price }}</p>
      <p>{{ productModel.description}}</p>
    </div>
  </div>
  <div class="col-md-3 cta-button">
    <a class="btn btn-lg btn-block btn-primary" (click)="update.emit(productModel)" >Update</a>
  </div>
</div>
