<modal #myModal>
  <section id="login">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                  <h1>User</h1>
                  <form role="form" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" id="login-form" autocomplete="off">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Dni" formControlName="dni">
                      <div class="error" *ngIf="userForm.get('dni').hasError('required') && userForm.get('dni').touched">
                        Dni is required
                      </div>
                      <div class="error" *ngIf="userForm.get('dni').hasError('minlength') && userForm.get('dni').touched">
                        Minimum of 2 characters
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Full name" formControlName="fullname">
                      <div
                        class="error"
                        *ngIf="userForm.get('fullname').hasError('required') && userForm.get('fullname').touched">
                        Full name is required
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" placeholder="Username" formControlName="username">
                      <div
                        class="error"
                        *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">
                        Username is required
                      </div>
                    </div>                          
                    <input type="submit" id="btn-login" [disabled]="userForm.invalid" class="btn btn-custom btn-lg btn-block" value="Save">
                </form>
              </div>
          </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
  </section>
</modal>