<button class="floating-button" (click)="create()">Add category</button>
<category-add (formSubmitted)="save($event)"></category-add>
<categories-list (updateCategory)="update($event)" [categories]="categories"></categories-list>
