<button class="floating-button" (click)="newWork()">Add work</button>
<work-add></work-add>

<div class="container">
    <div class="col-sm-12">
        <div *ngFor="let work of works; let i = index;" class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">{{ work.title }}</h1>
                    <div class="cta-desc">
                        <p>{{ work.description }}</p>
                        <p>{{ work.state }}</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a class="btn btn-lg btn-block btn-success" (click)="updateWork( work, i )">Update</a>
                </div>
              </div>
        </div>
    </div>
</div>

