<button class="floating-button" (click)="newUser()">Add user</button>
<user-add></user-add>

<div class="container">
    <div class="col-sm-12">
        <div *ngFor="let user of users; let i = index;" class="bs-calltoaction bs-calltoaction-primary">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">@{{ user.username }}</h1>
                    <div class="cta-desc">
                        <p>{{ user.fullname }}</p>
                        <p>{{ user.dni}}</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a class="btn btn-lg btn-block btn-primary" (click)="updateUser( user, i )">Update</a>
                </div>
              </div>
        </div>
    </div>
</div>