<modal #myModal>
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-wrap">

            <h1>Category</h1>
            <form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="categoryForm" id="category-form"
                  autocomplete="off">
              <div class="form-group">
                <label>Name</label><input formControlName="name"/>
                <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Name is required</div>
                <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Name should be 5 characters min</div>
              </div>
              <div class="form-group">
                <label>Description</label><textarea formControlName="description"></textarea>
              </div>
              <button class="btn btn-custom btn-lg btn-block" id="btn-login" type="submit"
                      [disabled]="!categoryForm.valid">Add Category
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</modal>
